<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="Layout" value="${date:format=HH\:mm\:ss.fff} ${level:uppercase=true:padding=-5} [${threadname}] ${message} ${exception:format=ToString}" />
  <targets async="true">
    <target xsi:type="ColoredConsole" name="Console" useDefaultRowHighlightingRules="false" layout="${Layout}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGreen" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
    <target xsi:type="File" name="File" layout="${Layout}" fileName="Logs/${shortdate}.log" concurrentWrites="false" keepFileOpen="false" />
  </targets>

  <rules>
    <logger name="Console" minlevel="Info" writeTo="Console" />
    <logger name="*" minlevel="Info" writeTo="File" />
  </rules>
</nlog>