<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DownloaderConfigs" type="Bazger.Tools.YouTubeDownloader.Core.DownloaderConfigs, Bazger.Tools.YouTubeDownloader.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="downloadUrl" value="https://www.youtube.com/watch?list=PLOzyhPhjCNMwwczvZAjx-csHtcdp6_PN1"/>
  </appSettings>
  <DownloaderConfigs
      youTubeApiKey="AIzaSyAQXaMeoVZGg5DNr5M_tgAkh28QMLb1Q6U"
      saveDir="Downloads"
      parallelDownloadsCount="5"
      convertersCount="3"
      converterEnabled="true"
      convertionFormat="wav"
      journalFileName="JournalProd.json"
      readFromJournal="true"
      writeToJournal="false"/>
</configuration>