<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <variable name="Layout" value="${date:format=HH\:mm\:ss.fff} ${level:uppercase=true:padding=-5} [${threadname}] ${message} ${exception:format=ToString}" />
  <targets>
    <target xsi:type="AsyncWrapper" name="AsyncFile">
      <target xsi:type="File" name="File" layout="${Layout}" fileName="Logs/${shortdate}.log" concurrentWrites="false" keepFileOpen="false"/>
    </target>
    <target xsi:type="Memory" name="Memory" layout="${Layout}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="AsyncFile"/>
    <logger name="Bazger.Tools.App.MainForm" minlevel="Info" writeTo="Memory"/>
  </rules>
</nlog>