<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DownloaderConfigs" type="Bazger.Tools.YouTubeDownloader.DownloaderConfigs, Bazger.Tools.YouTubeDownloader" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="SessionKeyJsScript" value="YouTubeMp3_SessionKeyJsScript.js" />
  </appSettings>
  <DownloaderConfigs
    youTubeApiKey="AIzaSyAQXaMeoVZGg5DNr5M_tgAkh28QMLb1Q6U"
    saveDir="D:\My\Documents\Visual Studio 2015\Projects\C#\BazgerTools\Bazger.Tools.YouTubeDownloader\bin\Debug\YoutubeTest"
    downloadUrl="https://www.youtube.com/playlist?list=PLOzyhPhjCNMwwczvZAjx-csHtcdp6_PN1"
    parallelDownloadsCount="5"
    convertersCount="3"
    converterEnabled="true"
    convertionFormat="wav"
    journalFileName="JournalProd.json"
    readFromJournal="false"
    writeToJournal="false"/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>