<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DownloaderConfigs" type="Bazger.Tools.YouTubeDownloader.Core.DownloaderConfigs, Bazger.Tools.YouTubeDownloader.Core" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="downloadUrl" value="https://www.youtube.com/watch?list=RDh7aunPoTU64"/>
  </appSettings>
  <!--Can be used youTubeVideoFormatCode="140"-->
  <DownloaderConfigs
      youTubeApiKey="AIzaSyAQXaMeoVZGg5DNr5M_tgAkh28QMLb1Q6U"
      saveDir="Downloads"
      youTubeVideoFormatCode="18"
      parallelDownloadsCount="10"
      convertersCount="4"
      converterEnabled="true"
      convertionFormat="mp3"
      journalFilePath="JournalProd.json"
      readFromJournal="false"
      writeToJournal="true"
      overwriteEnabled="true"/>
</configuration>