<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="kasperskyProcessName" value="avpui"/>
    <add key="kasperskyServiceName" value="AVP17.0.0"/>
    <add key="krtProgramName" value="Kaspersky_Reset_Trial_5.1.0.29.exe"/>
  </appSettings>
</configuration>
