<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="kasperskyProcessName" value="avpui"/>
    <add key="kasperskyServiceName" value="AVP17.0.0"/>
    <add key="kasperskyTrayTitle" value="Kaspersky"/>
    <add key="kasperskyExitButtonTitle" value="Выход"/>
    <add key="kasperskyResetTrialFileName" value="Kaspersky_Reset_Trial_5.1.0.29.exe"/>
    <add key="kasperskyResetTrialWindowTitle" value="KRT"/>
  </appSettings>
</configuration>
